body {
	font-family:sans-serif;
}
body > p {
	background-color:blue;
	margin:1ex 0.5ex;
}

#toolbar{
	position:absolute;

}

#toolbar > div {
	width:1em;
	height:1em;
	margin: 0.4ex 0.1ex 0 0;
	background-color:blue;
	cursor:pointer;
}